# create requirements.txt with pip-compile (https://github.com/jazzband/pip-tools)
# pip install pip-tools
# pip-compile
requests
pymongo
# git+https://github.com/MartinoMensio/snscrape.git
# twitterscraper
# git+https://github.com/WeatherAnchor/twitterscraper.git
uvicorn
fastapi
python-dotenv
python-dateutil
tqdm